/*! purgecss start ignore */

@font-face {
  font-family: "Frank";
  src: url("../fonts/webfonts/PFT_Frank-web.woff2") format("woff2"),
    url("../fonts/webfonts/PFT_Frank-web.otf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Frank";
  src: url("../fonts/webfonts/PFT_Frank\ Bold-web.woff2") format("woff2"),
    url("../fonts/webfonts/PFT_Frank\ Bold-web.otf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "siddur";
  font-weight: 100 900;
  font-style: normal;
  src: url("../fonts/webfonts/SiddurOCGX.otf") format("otf"), url("../fonts/webfonts/SiddurOCGX.woff2") format("woff2");
}
@font-face {
  font-family: "SBLhebrew";
  src: url("../fonts/webfonts/SBL_Hbrw.ttf") format("ttf"), url("../fonts/webfonts/SBL_Hbrw.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo var"; // variable font! [https://github.com/TypeNetwork/heebo]
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: "Regular";
  font-display: swap;
  src: url("../fonts/webfonts/Heebo-beta-VF.ttf");
}

.font-siddur {
  margin-top: -0.4em; // fixes variable-font leading bug
  font-weight: 700;
}

.nuxt-content {
  pre.ql-syntax {
    -moz-osx-font-smoothing: auto;
    @apply mb-6 p-5 leading-7 text-sm text-gray-100 bg-gray-800 shadow-inner w-full rounded-lg overflow-x-auto;
  }
}
/*! purgecss end ignore */
