/*! purgecss start ignore */
// Default page transition
.page-enter-active {
  transition: all 0.3s ease-in;
}
.page-leave-active {
  transition: none;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
.transition {
  transition: all 0.3s ease;
}

.btn-outline {
  @apply inline-block px-6 py-2 font-bold text-gray-800 bg-gray-100 border-2 border-gray-800 rounded-full;
  &:hover,
  &:focus {
    @apply bg-white;
  }
}
/*! purgecss end ignore */
